
<form action="/usuarios/login" method="post">
    <label for="username">Username:</label>   
        <input type="text" name="username" class="form-control" required>
    <label for="senha">Senha: </label>
        <input type="password" name="senha" class="form-control" required>
    <button type="submit" class="btn btn-sucess">Entrar</button>
</form>

